/*  Font Family */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Poppins:wght@400;600;700;800&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}
.header{
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    background: #f9efef;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    z-index: 100;
}
.logo{
    color: #111010;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 36px;
}
.logo span{
    color: #3f51b5;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 36px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 30px;
}
nav ul li a{
    text-decoration: none;
    color: #3f51b5;
    
}
nav ul li a:hover{
    color:#111010;
}
.hero{
    margin: 110px 50px;
    max-width: 600px;

}
.hero h1{
    font-size: 45px;
    margin-bottom: 10px;
    color:#3f51b5;
}
.hero a{
    display: inline-block;
    text-decoration: none;
    color:#f9efef;
    background: #3f51b5;
    padding: 10px 30px;
    font-size:16px ;
    margin-top: 50px;
    border: 6px;
    border-radius: 6px;
}
.hero a:hover{
    border:2px solid #3f51b5;
    border-radius: 6px;
    color: #3f51b5;
    background: transparent;
}
.hero p{
    font-size: 16px;
    color: #2b2a2a;
    line-height: 2em;
}
.model{
    background: #dce3fb;
    position: absolute;
    top:0;
    right: 12%;
    z-index:1 ;
}
.model img{
    display: block;
    padding-top: 100px;
    width: 410px;
    margin-bottom: -205px;
}